{{define "mountPoint"}}
  <h1>
    {{if and .Tag .Year}}
      Blog Posts from {{.Year}} Tagged with "{{.Tag}}"
    {{else if .Tag}}
      Blog Posts Tagged with "{{.Tag}}"
    {{else if .Year}}
      Blog Posts from {{.Year}}
    {{else}}
      All Blog Posts
    {{end}}
  </h1>
  <div class="filters-link-container">
    <a href="/blog/filters" class="advanced-filters-link">
      <i class="fas fa-tags"></i> Navigate by tags
    </a>
  </div>
  <div class="postList">
    {{range .Posts}}
      <div class="postListItem">
        <span class="postDate">{{.PostDate}}</span>
        <div class="postInfo">
          <a href="{{.PostUrl}}" class="postTitle">{{.BlogPost.Title}}</a>
          <div class="post-meta">
            <a href="{{.PostUrl}}" class="action-link blog-link" title="Read blog post" aria-label="Read blog post">
              <i class="fas fa-blog"></i>
            </a>
            <a href="/pictures?blog_id={{.BlogPost.Id}}" class="action-link pictures-link" title="View pictures from this blog post" aria-label="View pictures from this blog post">
              <i class="fas fa-images"></i>
            </a>
            {{if .BlogPost.Tags}}
              <span class="postTags">
                {{range $index, $tag := .BlogPost.Tags}}<a href="{{tagUrl .}}" class="tag">{{.}}</a>{{end}}
              </span>
            {{end}}
          </div>
        </div>
      </div>
    {{end}}
  </div>
{{end}} 