{{define "mountPoint"}}
  <article class="blogPost">
    <h1><a href="/blog/{{.BlogPost.Id}}/{{slugifyTitle .BlogPost.Title}}">{{.BlogPost.Title}}</a></h1>
    <div class="datePosted">Posted on {{.BlogPostDate}}</div>
    <div>
      {{htmlSafe .BlogPostBody}}
    </div>
    <div class="tags">
      {{range .BlogPost.Tags}}
      <a href="/tagged/{{.}}" class="tag">{{.}}</a>
      {{end}}
    </div>
  </article>

  <p>
    {{if .PrevPost}}
    <a href="/blog/{{.PrevPost.Id}}/{{slugifyTitle .PrevPost.Title}}{{if .Tag}}?tag={{.Tag}}{{else if .Year}}?year={{.Year}}{{end}}">
      <span class="navigationButton">Previous: {{truncateTitle .PrevPost.Title}}</span>
    </a>
    {{end}}
    {{if .NextPost}}
    <a href="/blog/{{.NextPost.Id}}/{{slugifyTitle .NextPost.Title}}{{if .Tag}}?tag={{.Tag}}{{else if .Year}}?year={{.Year}}{{end}}">
      <span class="navigationButton">Next: {{truncateTitle .NextPost.Title}}</span>
    </a>
    {{end}}
  </p>
{{end}}
