{{define "mountPoint"}}
  <div class="pictures-gallery">
    <h1>
      {{if .FilterTag}}
        <a href="/all?tag={{.FilterTag}}">{{.FilterTag | title}}</a> Pictures Gallery
      {{else if gt .FilterBlogID 0}}
        Pictures from Blog Post: <a href="/blog/{{.FilterBlogID}}">{{.BlogPostTitle}}</a>
      {{else}}
        Pictures Gallery
      {{end}}
    </h1>
    <div class="pictures-grid">
      {{range $i, $pic := .Pictures}}
        <div class="picture-entry" data-id="{{$pic.Id}}">
          <img src="/{{$pic.Image}}" srcset="{{responsiveImageSrcset (printf "/%s" $pic.Image)}}" sizes="{{responsiveImageSizes}}" data-lightbox-src="/{{$pic.Image}}" alt="Photo from blog post {{$pic.Id}}" class="gallery-image" data-index="{{$i}}" loading="lazy" decoding="async">
        </div>
      {{end}}
    </div>
  </div>
{{end}} 
