{{define "mountPoint"}}
<h1>Projects</h1>
<p>Listed below are some of the projects I've worked on throughout my career. Some are full-fledged products, and some are just libraries. Some I'm the primary developer (e.g. most things below) and some I've just contributed to (e.g. Link Bubble).</p>
<div class="card-container">
  {{range .Projects}}
    <div class="card-entry">
      <div class="project-entry">
        {{if .Image}}
          <img class="project-image" src="/{{.Image}}" alt="Project image for {{.Title}}">
        {{end}}
        <div class="project-content">
          <h3>
            {{if .URL}}<a href="{{.URL}}" target="_blank">{{.Title}}</a>{{else}}{{.Title}}{{end}}
          </h3>
          <div class="card-details">{{.Description}}</div>
          <div class="project-links">
            {{if .Website}}
              <a href="{{.Website}}" target="_blank" title="Website" class="action-link website-link"><i class="fas fa-globe"></i></a>
            {{end}}
            {{if .Github}}
              <a href="{{.Github}}" target="_blank" title="GitHub" class="action-link github-link"><i class="fab fa-github"></i></a>
            {{end}}
            {{if .BlogPostID}}
              {{with index $.BlogPostMap .BlogPostID}}
                <a href="/blog/{{.Id}}/{{slugifyTitle .Title}}" title="Read blog post" class="action-link blog-link">
                  <i class="fas fa-blog"></i>
                </a>
              {{end}}
            {{end}}
          </div>
        </div>
      </div>
    </div>
  {{end}}
</div>
{{end}} 